.content {
    width: 960px;
    margin: 0 auto;
}

.slogan {
    width: 100%;
    text-align: center;
    margin-top: 264px;
    color: #ffffff;
    font-size: 30px;
}

.bg-1-box {
    margin-top: 316px;
    width: 100%;
}

.bg-1-box img {
    width: 157px;
    height: 216px;
}

.bg-1-left {}